.hexagon {
  position: relative;
  float: left;
  width: 140px; 
  height: 80.83px;
  margin: 26px 6px;
  background-image: url(https://picsum.photos/200/300);
  background-size: auto 161.6581px;
  background-position: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 98.99px;
  height: 98.99px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 20.50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 140.0000px;
  height: 80.82903768654761px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -49.4975px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -49.4975px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 140.0000px;
  height: 80.8290px;
  z-index: 2;
  background: inherit;
}